In [37]:
import folium
import requests 
import json 
import matplotlib.cm as cm
import matplotlib.colors as colors
import pandas as pd

from pandas.io.json import json_normalize 
from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim 

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print("Imported!")

ImportError: cannot import name 'KMeans' from 'sklearn.cluster' (unknown location)

In [32]:
df = pd.read_csv('Toronto_dbWithCo.csv')
df.drop(columns=['Unnamed: 0'],inplace = True)
df

,Postalcode,Borough,Neighborhood,Latitude,Longtitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813
...,...,...,...,...,...
98,M9N,York,Weston,43.705496,-79.520370
99,M9P,Etobicoke,Westmount,43.696296,-79.533126
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.686887,-79.565507
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.744055,-79.581203
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.711615,-79.588351

In [33]:
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [36]:
df_toronto = df.loc[df['Borough'].isin(['Downtown Toronto','Central Toronto','West Toronto','East Toronto'])].reset_index()
df_toronto.head()

,index,Postalcode,Borough,Neighborhood,Latitude,Longtitude
0,37,M4E,East Toronto,The Beaches,43.678148,-79.295349
1,41,M4K,East Toronto,"The Danforth West, Riverdale",43.683424,-79.354564
2,42,M4L,East Toronto,"India Bazaar, The Beaches West",43.668291,-79.315578
3,43,M4M,East Toronto,Studio District,43.648000,-79.339260
4,44,M4N,Central Toronto,Lawrence Park,43.729455,-79.386415